<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Deatils</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class="show">
            <p>id : <%= post.id%></p>
            <h3>Username : @<%= post.username%></h3>
            <img src="<%= post.img%>" alt="<%= post.username%>">
            <p> Content : <%= post.content %></p>
            <p>&hearts; likes : <%=post.likes%></p>
        </div>
        
    </body>
</html>